.roles {
  padding: 1rem;
  background-color: var(--primary-700);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.add_role {
  .add_roles {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--primary-700);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
