.footer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 5rem 10rem;
  background-color: var(--primary-600);
  position: relative;
  z-index: 999;

  nav {
    display: flex;
    gap: 1rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      strong {
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}

.external {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    padding: 5rem 1rem;

    nav {
      flex-direction: column;

      section {
        flex-direction: row;
        flex-wrap: wrap;

        a {
          padding: 0 0.5rem;
        }
      }
    }
  }
}
